@mixin flexCenter($direction, $gap) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  gap: $gap
}

@mixin button($color) {
  padding: 12px;
  text-transform: uppercase;
  background-color: $color;
  color: black;
  font-weight: bolder;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

form {
  background-color: #27272a;
  @include flexCenter(column, 20px);
  width: 800px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 30px;
  border-radius: 10px;

  input {
    padding: 10px;
    border-radius: 6px;
    width: 300px;
  }

  input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  div {
    @include flexCenter(row, 20px);

    .backToHomeBtn {
      @include button(#EE005F)
    }

    .updateBtn {
      @include button(#36d399)
    }
  }

  button:disabled {
    opacity: 0.5;
  }
}
